.App {
  text-align: center;
  display: flex;
    width: 100%;
}

.todo {
  flex: 4;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.calendar {
  flex: 6;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}



